{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Public Potty</title>
        <script>
          const selectedCharacterName = "{{ character.name|escapejs }}";
        </script>
        <!-- <script src="https://pixijs.download/release/pixi.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.3.2/pixi.min.js"></script>
        <link rel="stylesheet" href="{% static 'gameplay/css/styles.css' %}">

    </head>
    <body>
        <h1>Game Loading...</h1>

        <!-- CONTAINER FOR RANDOM LOCATIONS -->
        <!-- <div class="locations-container">
          {% for location in locations %}
            <div class="location-card"> -->
              <!-- LOCATION TYPE AND SUBTYPE -->
              <!-- <h2>
                {{ location.get_type_display }}
                {% if location.subtype %}
                  ({{ location.get_subtype_display }})
                {% endif %}
              </h2> -->

              <!-- IF THE LOCATION HAS A CUSTOM NAME -->
              <!-- {% if location.name %}
                <p>"{{ location.name }}"</p>
              {% endif %}

              VARIOUS BOOLEANS
              <p>Has restroom? {{ location.has_restroom|yesno:"Yes,No" }}</p>
              <p>Open Now? {{ location.open_now|yesno:"Yes,No" }}</p>
              <p>Public? {{ location.open_to_public|yesno:"Yes,No" }}</p>
            </div>
          {% endfor %}
        </div> -->


        <div id="add-character-butons" style="text-align: center; margin: 20px 0;">
          {% for char in other_characters %}
            <button onclick="addCharacterToGame('{{ char.name|escapejs }}')">
              Add {{ char.name }}
            </button>
          {% endfor %}
        </div>
        
        <div id="gameCanvas"></div>
        <script src="/static/js/game.js"></script>
        <a href="{% url 'reset' %}"
          style="position: absolute; top: 10px; right: 10px; padding: 8px 12px; background: #c0392b; color: white; border-radius: 5px; text-decoration: none; font-weight: bold;">
          Change Character
        </a>
    </body>
</html>