{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Public Potty</title>
        <script>
          const selectedCharacterName = "{{ character.name|escapejs }}";
        </script>
        <!-- <script src="https://pixijs.download/release/pixi.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.3.2/pixi.min.js"></script>
        <link rel="stylesheet" href="{% static 'gameplay/css/styles.css' %}">

    </head>
    <body>
        <h1>Game Loading...</h1>

        <div id="add-character-butons" style="text-align: center; margin: 20px 0;">
          {% for char in other_characters %}
            <button
              onclick="addCharacterToGame('{{ char.name|escapejs }}', this)"
              data-follow-min="{{ char.follow_distance_min }}"
              data-follow-max="{{ char.follow_distance_max }}"
            >
              Add {{ char.name }}
            </button>
          {% endfor %}
        </div>
        
        <div id="gameCanvas"></div>
        <!-- <script src="/static/js/game.js"></script> -->
        <script src="/static/js/game.js?v={{ timestamp }}"></script>
        <a href="{% url 'select_level' %}"
          style="position: absolute; top: 10px; right: 10px; padding: 8px 12px; background: #2980b9; color: white; border-radius: 5px; text-decoration: none; font-weight: bold;">
          Change Level
        </a>
        <a href="{% url 'reset' %}"
          style="position: absolute; top: 50px; right: 10px; padding: 8px 12px; background: #c0392b; color: white; border-radius: 5px; text-decoration: none; font-weight: bold;">
          Change Character
        </a>

        <!-- MODAL OVERLAY -->
        <div id="modalOverlay"></div>

        <!-- MODAL -->
        <div id="interiorModal" class="modal-hidden">
          <h2 id="modalTitle"></h2>
          <p id="modalDetails"></p>
          <button onclick="closeModal()">Exit</button>
        </div>
        
    </body>
</html>